li#CeZ9soZvnnYE9QRcu blockquote {
    display: none!important;
}
[data-username="BitmexRekt"] blockquote {
    display: none!important;
}
[data-username="twitterfeed"] blockquote {
    display: none!important;
}
[data-username="buckkets"], [data-username="devine"], [data-username="oil"], [data-username="jwil"] button {
    color: #5d9c6b!important;
}
[data-username="Remzii"] button {
    color: rgb(32, 102, 148)!important;
}
.ttz-channels .shorthorns button {
    color: #b79595!important;
}
.ttz-channels .bulls button {
    color: rgb(189, 67, 54)!important;
}
.ttz-channels .fundamental-analysts button {
    color: #C77934!important;
}